*{
	margin: 0;
	padding: 0;
}

h3{
	background-color: #578;
	text-align: center;
	height: 30px;
	font-size: 22px;
	line-height: 30px;
	margin: 10px 0;
}
#confirm{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	background-color: #E6E6E6;
}
.no{
	font-size: 24px;
	color:green;
	text-align: center;
	margin-top: 20px;
}

#list p.li{
	width: 100%;
	height: 28px;
	border:1px solid #7b5252;
	/*border-radius: 20px;*/
	margin: 20px 0;
	font-size: 20px;
	line-height: 28px;
}
#list button{
	float: right;
}

#list .li:nth-child(odd){
	background-color: #E0F8E0;
}
#list .li:nth-child(even){
	background-color: #d0c6c6;
}