@media screen and (max-width: 700px) {
	*{
		margin: 0;
		padding: 0;
	}
	
	.no{
		font-size: 24px;
		color:green;
		text-align: center;
		margin-top: 20px;
	}
	#set{
		position: absolute;
		top: 5px;
		right: 10px;
	}
	#title,#title1{
		background-color: #578;
		text-align: center;
		height: 30px;
		font-size: 22px;
		line-height: 30px;
		margin: 0;
	}
	
	#event span{
		display: block;
		text-align: center;
		font-size: 40px;
		height: 57px;
	}
	#event p:nth-child(1){
		display: inline-block;
		width:50%;
		font-size: 20px;
		/*background-color: #488922;*/
		text-align: center;
		float: left;
		border-right: 1px solid black;
		border-bottom: 2px solid black;
	}
	#event p:nth-child(2){
		display: inline-block;
		width:50%;
		font-size: 20px;
		/*background-color: #488922;*/
		text-align: center;
		border-left: 1px solid black;
		border-bottom: 2px solid black;
		float: left;
	}
	
	#graph{
		clear: both;
		margin-top: 110px;
		border:1px solid #D8D8D8;
		background-color: white;
	}
	#dot{
		clear: both;
		margin-top: 20px;
		border:1px solid #D8D8D8;
		background-color: white;
	}
	div .title{
	    display:inline-block;
	    line-height: 30px;
	    width:80px;
	    height:30px;
	    font-size: 20px;
	    position:relative;
	    top:-15px;
	    left: 20px;
	    text-align: center;
	    background: white;
	}
	#graph .sel{
	    display:inline-block;
	   /* position:relative;
	    top:-15px;
	    left: 40px;*/
	    float: right;
	    margin-top: -15px;
	}
	#graph .down{
		background-color: grey;
	}
	#contentGraph{
		width: 100%;
		height: 300px;
	}
	#contentDot{
		width: 100%;
		height: 300px;
	}

	#pie{
		margin-top: 10px;
		border:1px solid grey;
		width: 100%;
		height: 300px;
	}


	ul li{
		background-color: #E0F2F7;
		height: 30px;
		line-height: 30px;
		border:1px solid #7b5252;
		font-size: 1.2em;
		text-align: center;
		list-style-type: none;
	}
	#shop{
		z-index: 100;
		width: 30%;
		right: 0px;
		position: absolute; 
	}

	#timeSel{
		margin-bottom: 10px;
	}

	#timeSel button{
		text-align: center;
		display: inline-block;
	    background:#5cb85c;
	    height: 30px;
	    line-height: 30px;
	    font-size: 18px;
	}
	#timeSel .tdown{
		background-color: grey;
	}

	#timeSel button:nth-child(1){	
	    width: 20%;
	}
	#timeSel button:nth-child(2){
	    width: 20%;
	}
	#timeSel button:nth-child(3){
	    width: 30%;
	}
	#timeSel button:nth-child(4){
	    width: 26%;
	    white-space: nowrap;
	}
	#listTitle{
		border:1px solid grey;
		margin-top: 20px;
		margin-bottom: 0px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		background-color: #A9F5BC;
	}
	#table{
		overflow: auto;
		height: 148px;
	}
	hr{
		height:2px;
		border:none;
		border-top:2px solid grey;
	}
}
	
